.color-success {
  color: #19be6b;
}
.color-warning {
  color: #ff9900;
}
.color-error {
  color: #ed3f14;
}
.color-primary {
  color: #2d8cf0;
}
.color-disabled {
  color: #bbbec4;
}
.spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}

.f-clearfix:after {
  content: '.';
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.f-clearfix {
  *zoom:1;
}